BasedOnStyle: LLVM

UseTab: Never
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8

BreakBeforeBraces: Allman
ColumnLimit: 100

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
